<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PrintUtilityServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/impetussolution/services/printutilityservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="PrintUtilityServiceSoap"
                contract="PrintUtilityServiceReference.PrintUtilityServiceSoap"
                name="PrintUtilityServiceSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
