<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="CMS.CardProduction" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    <section name="PANE.ErrorLog" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    <section name="HSMInterface.BCSS" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    <section name="PANE.Framework" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    <section name="Ninject" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    <section name="Messaging.Configuration" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    <section name="ViaCard.InstantIssuance.PostCardEntities" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="DemoMode" value="true" />
    <add key="LocalNhibernateFile" value="C:\Users\OLATUNJI\Documents\Visual Studio 2010\WebSites\ImpetusSolution\nhibernateLocalDB.config" />
    <add key="PajunoEmail" value="pmbano@pajunogroup.com" />
    <add key="WebsiteUrl" value="http://localhost/ImpetusSolution" />
    <add key="Institution" value="Pajuno" />
    <add key="UploadFilePath" value="C:\\Users\\OLATUNJI\\Documents\\Visual Studio 2010\\WebSites\\ImpetusSolution\\Executables\\" />
    <add key="LogoPath" value="C:\\Users\\OLATUNJI\\Documents\\projects\\EvoPaj\\Websites\\EvoPaj\\CaseManagement\\Logo\\" />
    <add key="CustomizedName" value="Impetus Web" />
    <add key="UseCooliteShell" value="True" />
    <add key="ServiceProvider2" value="Impetus Web" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\sqlexpress;initial catalog=EvoPaj;User ID=sa;Password=root" providerName="System.Data.SqlClient" />
    <add name="EvoPajDB" connectionString="data source=.\sqlexpress;initial catalog=EvoPaj;User ID=sa;Password=root" />
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="25600" executionTimeout="1000" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <customErrors mode="Off" defaultRedirect="~/CustomErrorPages/GeneralError.aspx">
      <error statusCode="404" redirect="~/CustomErrorPages/GeneralError.aspx" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="localhost/EvoPaj/" timeout="30" />
    </authentication>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpModules>
      <add name="NHibernateSessionHttpModule" type="PANE.Framework.NHibernateManager.NHibernateSessionHttpModule, PANE.Framework" />
      <add name="NHibernateHttpModule" type="PANE.Framework.Managed.NHibernateManager.NHibernateSessionHttpModule, PANE.Framework.Managed" />
      <add name="ErrorHandler" type="PANE.ERRORLOG.Error, PANE.ERRORLOG" />
      <add name="AjaxRequestModule" type="Coolite.Ext.Web.AjaxRequestModule, Coolite.Ext.Web" />
    </httpModules>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <pages theme="" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"></pages>
    <machineKey validationKey="F9D1A2D3E1D3E2F7B3D9F90FF3965ABDAC304902" decryptionKey="F9D1A2D3E1D3E2F7B3D9F90FF3965ABDAC304902F8D923AC" validation="SHA1" />
  </system.web>
  <PANE.ErrorLog>
    <add key="ToEmail" value="tayorinde@paneinternational.com" />
    <add key="DirectoryLog" value="c:\Log\EvoPaj\" />
  </PANE.ErrorLog>
  <Messaging.Configuration>
    <add key="Host" value="smtp.gmail.com" />
    <add key="Domain" value="smtp.gmail.com" />
    <add key="MailFrom" value="integralsabiola@gmail.com" />
    <add key="UsesAuthentication" value="True" />
    <add key="UserName" value="integralsabiola@gmail.com" />
    <add key="Password" value="FACEscar1234@" />
    <add key="Port" value="587" />
    <add key="EnableSSL" value="True" />
    <add key="MailTemplatePath" value="" />
  </Messaging.Configuration>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <!--<property name="connection.connection_string">Server=172.16.248.86;initial catalog=Card_Issuance;user id=sa;password=password2$; </property>-->
      <property name="connection.connection_string">Server=.\sqlexpress;initial catalog=EvoPaj;User ID=sa;Password=root</property>
      <property name="connection.isolation">ReadCommitted</property>
      <!--<property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>-->
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
      <property name="default_schema">dbo</property>
      <!--<property name="show_sql">true</property>-->
      <!-- HBM Mapping Files -->
      <mapping assembly="EvoPaj.Base" />
      <mapping assembly="PANE.Framework" />
    </session-factory>
  </hibernate-configuration>
  <!--<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
		</compilation>
		
		
	</system.web>-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx" />
        <add value="Default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="adminLogin.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PrintUtilityServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/ImpetusSolution/services/printutilityservice.asmx" binding="basicHttpBinding" bindingConfiguration="PrintUtilityServiceSoap" contract="PrintUtilityServiceReference.PrintUtilityServiceSoap" name="PrintUtilityServiceSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>